*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu SA Beginner",sans-serif;
}
html{
    background-color: rgb(255, 255, 255);
    color: red;
}

/*hader css*/

.hader{
    /*background:linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url("../images/gym img.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    color: white;
    
    
}
nav{
    padding: 1% 4%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: 0px 0px 4px black
}
.nav-list{
   
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.logo{
    text-transform: uppercase;
    font-size: 40px;
    color: black;
    
}
.logo span{
    color: red;
    
}
ul{
    display: flex;
   margin: auto;
   
    list-style: none;
}
nav ul li{
    margin:0px 30px;
}

nav ul li a{
    text-decoration: none;
    font-size: 23px;
    transition: 0.5s;
    color: black;
}
nav ul li a:hover{
    color: red;

}
nav ul li a::after{
    content: "";
    display: block;
    width: 0;
    height: 7px;
    transition: 0.5s; 
}
nav ul li a:hover::after{
    width: 100%;
}
.socil a{
    margin:0 5px ;
}
.socil a i{
    transition: 0.5s;
    color: black;

}
.socil .insta i{
 animation-duration: 2700ms;
 
}
.socil a i:hover{
    animation-duration: 10000000ms;
    font-size: 30px;
    
   }
.socil a i:hover{
    color:red;
}
.socil a:first-child,.socil a:last-child{
    display: none;
}

/*main css*/

.main{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: red;
    gap: 15%;
    
}
.main .Qabout{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40%;
    height: 100%;
    text-align: center;
    gap: 20px;
    
}
.aboutImg{
    display: flex;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background: url(/images/ye.svg);
   

}
.aboutImg3{
    width: 500px;
    height: 500px;
    background: url(/images/ye.svg);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutImg3 img{
    border:1px solid rgba(0, 0, 0, 0.285);
    box-shadow: 0 0 4px black;
    margin-bottom: 30px;
    margin-left: 20px;
}

.main h2{
    font-size: 72px;
    color: red;
}

.main p{
    color: black;
    font-size: 25px;
}
.buton{
    text-decoration: none;
    border: 1px solid red;
    padding: 15px 35px;
    margin-top:  45px;
    transition: 1s;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 20px;
    color: red;
    

}
.buton:hover{
    background-color: red;
   color: rgb(255, 255, 255);
    border: rgba(0, 0, 0, 0.15) 1px solid ;
    text-transform: uppercase;
    border-radius: 5px;
    border: #FF8000 1px solid;
}
/*spaces*/
.space2{
    display: flex;
    flex-direction: column;
   background-color: black;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   overflow: hidden;
   flex-grow: 1;
   flex-shrink: 1;
   
}
.space2 p{
    color: aliceblue;
    font-size: 30px;
    max-width: 250px;
    min-height: 600px;
    text-align: center;
padding-top: 15px;
    background-color: rgb(3, 94, 0);
    flex-grow: 1;
    flex-shrink: 1;
}
.space2 .tag{
    font-size: xx-large;
}
.space3{
    display: flex;
    flex-direction: column;
   background-color: black;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   overflow: hidden;
   flex-grow: 1;
   flex-shrink: 1;
}
.space3 p{
    color: aliceblue;
    font-size: 30px;
    max-width: 250px;
    min-height: 600px;
    text-align: center;
padding-top: 15px;
    background-color: rgb(3, 94, 0);
    flex-grow: 1;
    flex-shrink: 1;
}
.space3 .tag{
    font-size: xx-large;
}
.space4{
    display: flex;
    flex-direction: column;
   background-color: black;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   overflow: hidden;
   flex-grow: 1;
   flex-shrink: 1;
}
.space4 p{
    color: aliceblue;
    font-size: 30px;
    max-width: 250px;
    min-height: 600px;
    text-align: center;
padding-top: 15px;
    background-color: rgb(3, 94, 0);
    flex-grow: 1;
    flex-shrink: 1;
}
.space4 .tag{
    font-size: xx-large;
}
.space5{
    display: flex;
    flex-direction: column;
   background-color: black;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   overflow: hidden;
   flex-grow: 1;
   flex-shrink: 1;
}
.space5 p{
    color: aliceblue;
    font-size: 30px;
    max-width: 250px;
    min-height: 600px;
    text-align: center;
padding-top: 15px;
    background-color: rgb(3, 94, 0);
    flex-grow: 1;
    flex-shrink: 1;
}
.space5 .tag{
    font-size: xx-large;
}



/*css for tablet*/

@media(max-width:900px){
    
    
    .socil{
        
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 40px;
        backdrop-filter: blur(2px);
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-left: rgba(0, 0, 0, 0.29) 1px solid;
        
    }.main h2{
        font-size: 60px;
    }
    .main h1{
        font-size: 80px;
    }
    
    nav{
        padding:5px 4%;
    }
}
@media(max-width:750px){
.nav-list{
    position: absolute;

}
.nav-list ul{
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   transition: right 0.5s;
    border-left: 1px solid rgba(0, 0, 0, 0.29) ;
}
.nav-list ul li {
    flex-basis: 30px;
    flex-grow: 1;
    max-height: 80px;
    display: flex;
    align-items: center;
}
.logo{
    text-align: center;
    flex: 1;
}
.nav-list ul.obend{
   right: 40px;
}
.socil a:first-child,.socil a:last-child{
   
    position: fixed;
    top: 0;
    margin-top: 20px ;
}
.socil a:last-child{
    display: block;
}
ul.obend ~ .socil a:first-child{
    display: block;
}
ul.obend ~ .socil a:last-child{
    display: none;
}
.main h2{
    font-size: 45px;
}
.main h1{
    font-size: 40px;
}



}
@media(max-width:400px){
    .nav-list{
        position: absolute;
    
    }
    .nav-list ul{
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
       transition: right 0.5s;
        border-left: 1px solid rgba(0, 0, 0, 0.29) ;
    }
    .nav-list ul li {
        flex-basis: 30px;
        flex-grow: 1;
        max-height: 80px;
        display: flex;
        align-items: center;
    }
    .logo{
        text-align: center;
        flex: 1;
    }
    .nav-list ul.obend{
       right: 40px;
    }
    .socil a:first-child,.socil a:last-child{
       
        position: fixed;
        top: 0;
        margin-top: 20px ;
    }
    .socil a:last-child{
        display: block;
    }
    ul.obend ~ .socil a:first-child{
        display: block;
    }
    ul.obend ~ .socil a:last-child{
        display: none;
    }
    .main h2{
        font-size: 45px;
    }
    .main h1{
        font-size: 40px;
    }
    .hader{
    background:linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.55)), url("../images/gym img mr.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh; 
        ;
         
        }
        nav{
            background-color: transparent;
        }
        
        .space2{
            display: flex;
            flex-direction: column;
           background-color: black;
           align-items: center;
           justify-content: center;
           min-height: 100vh;
           overflow: hidden;
           flex-grow: 1;
           flex-shrink: 1;
        }
        .space2 p{
            color: aliceblue;
            font-size: 30px;
            max-width: 250px;
            min-height: 600px;
            text-align: center;
        padding-top: 15px;
            background-color: rgb(3, 94, 0);
            flex-grow: 1;
            flex-shrink: 1;
        }
        .space2 .tag{
            font-size: xx-large;
        }
        .space3{
            display: flex;
            flex-direction: column;
           background-color: black;
           align-items: center;
           justify-content: center;
           min-height: 100vh;
           overflow: hidden;
           flex-grow: 1;
           flex-shrink: 1;
        }
        .space3 p{
            color: aliceblue;
            font-size: 30px;
            max-width: 250px;
            min-height: 600px;
            text-align: center;
        padding-top: 15px;
            background-color: rgb(3, 94, 0);
            flex-grow: 1;
            flex-shrink: 1;
        }
        .space3 .tag{
            font-size: xx-large;
        }
        .space4{
            display: flex;
            flex-direction: column;
           background-color: black;
           align-items: center;
           justify-content: center;
           min-height: 100vh;
           overflow: hidden;
           flex-grow: 1;
           flex-shrink: 1;
        }
        .space4 p{
            color: aliceblue;
            font-size: 30px;
            max-width: 250px;
            min-height: 600px;
            text-align: center;
        padding-top: 15px;
            background-color: rgb(3, 94, 0);
            flex-grow: 1;
            flex-shrink: 1;
        }
        .space4 .tag{
            font-size: xx-large;
        }
        .space5{
            display: flex;
            flex-direction: column;
           background-color: black;
           align-items: center;
           justify-content: center;
           min-height: 100vh;
           overflow: hidden;
           flex-grow: 1;
           flex-shrink: 1;
        }
        .space5 p{
            color: aliceblue;
            font-size: 30px;
            max-width: 250px;
            min-height: 600px;
            text-align: center;
        padding-top: 15px;
            background-color: rgb(3, 94, 0);
            flex-grow: 1;
            flex-shrink: 1;
        }
        .space5 .tag{
            font-size: xx-large;
        }
        
        

    
    }