*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu SA Beginner",sans-serif;
}
html{
    background-color: rgb(255, 255, 255);
    color: red;
}

/*hader css*/

.hader{
    /*background:linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url("../images/gym img.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    color: white;
    
    
}
nav{
    padding: 1% 4%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: 0px 0px 4px black
}
.nav-list{
   
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.logo{
    text-transform: uppercase;
    font-size: 40px;
    color: black;
    
}
.logo span{
    color: red;
    
}
ul{
    display: flex;
   margin: auto;
   
    list-style: none;
}
nav ul li{
    margin:0px 30px;
}

nav ul li a{
    text-decoration: none;
    font-size: 23px;
    transition: 0.5s;
    color: black;
}
nav ul li a:hover{
    color: red;

}
nav ul li a::after{
    content: "";
    display: block;
    width: 0;
    height: 7px;
    transition: 0.5s; 
}
nav ul li a:hover::after{
    width: 100%;
}
.socil a{
    margin:0 5px ;
}
.socil a i{
    transition: 0.5s;
    color: black;

}
.socil .insta i{
 animation-duration: 2700ms;
 
}
.socil a i:hover{
    animation-duration: 10000000ms;
    font-size: 30px;
    
   }
.socil a i:hover{
    color:red;
}
.socil a:first-child,.socil a:last-child{
    display: none;
}

/*main css*/

.main{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: red;
    gap: 15%;
    
    
}
.main .Qabout{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40%;
    height: 100%;
    text-align: center;
    gap: 20px;
    
}
.aboutImg{
    display: flex;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background: url(/images/ye.svg);
   

}
.aboutImg3{
    width: 500px;
    height: 500px;
    background: url(/images/ye.svg);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutImg3 img{
    border:1px solid rgba(0, 0, 0, 0.285);
    box-shadow: 0 0 4px black;
    margin-bottom: 30px;
    margin-left: 20px;
}

.main h2{
    font-size: 72px;
    color: red;
}

.main p{
    color: black;
    font-size: 25px;
    line-height: 35px;
}
.buton{
    text-decoration: none;
    border: 1px solid red;
    padding: 15px 35px;
    margin-top:  45px;
    transition: 1s;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 20px;
    color: red;
    

}
.buton:hover{
    background-color: red;
   color: rgb(255, 255, 255);
    border: rgba(0, 0, 0, 0.15) 1px solid ;
    text-transform: uppercase;
    border-radius: 5px;
    border: #FF8000 1px solid;
}
/*spaces*/
.space2{
    background-color: black;
    display: flex;
    flex-direction: column;
   align-items: center;
   min-height: 100vh;
   overflow: hidden;
   flex-grow: 1;
   flex-shrink: 1;
   justify-content: space-evenly;
   
}
.space2 p{
    color: aliceblue;
    font-size: 25px;
    max-width: 50%;
    text-align: center;
    justify-content: center;
    line-height: 35px;
}
.space2 h1{
    font-size: 60px;
    color: whitesmoke;
}
.space2 .space2Content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    
}
.space2Content img{
    border-radius: 58% 42% 48% 52% / 39% 36% 64% 61%  ;

}
/*space3*/

.space3{
    display: flex;
    flex-direction: column;
   background-color: white;
   align-items: center;
   justify-content: space-evenly;
   min-height: 100vh;
   overflow: hidden;
   flex-grow: 1;
   flex-shrink: 1;
   padding: 50px;
   
} 
.space3 h1{
    color: red;
    padding-bottom: 50px;
    font-size: 50px;

}
.space3 h2{
    color: black;
    font-size: xx-large;
    padding: 10px;
}
.space3 ul li strong{
    color: darkblue;
}
.space3 ul li{
    color: black;
    padding: 20px;

}
.space3 p{
    color: black;
}

/*space4*/
.contacts{
    min-height: 65vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    background-color: black;
    color: white;
    font-family: "Merienda", sans-serif;
    
}
.contact-social{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
font-size: 43.5px;
padding-right: 15px;
gap: 20px;

}
.contact-socialn {
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
align-items: center;
justify-content: center;
color: white;
gap: 20px;
}
.contact-socialn a{
    text-align: center;
    color: white;
    text-decoration: none;
    justify-content: center;
    font-size: 30px;
    padding: 9px;
    
}

#contact {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    padding-right: 300px;
  }
  
  #contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #contact textarea {
    height: 150px;
  }
  
  #contact button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #contact button[type="submit"]:hover {
    background-color: #45a049;
  }
  .allc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
 
  
/*footer*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.234);

}

























@media(max-width:600px){
   
    .nav-list{
        position: absolute;
    
    }
    .nav-list ul{
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
       transition: right 0.5s;
        border-left: 1px solid rgba(0, 0, 0, 0.29) ;
    }
    .nav-list ul li {
        flex-basis: 30px;
        flex-grow: 1;
        max-height: 80px;
        display: flex;
        align-items: center;
    }
    .logo{
        text-align: center;
        flex: 1;
    }
    .nav-list ul.obend{
       right: 40px;
    }
    .socil a:first-child,.socil a:last-child{
       
        position: fixed;
        top: 0;
        margin-top: 20px ;
    }
    .socil a:last-child{
        display: block;
    }
    ul.obend ~ .socil a:first-child{
        display: block;
    }
    ul.obend ~ .socil a:last-child{
        display: none;
    }
    .main h2{
        font-size: 45px;
    }
    .main h1{
        font-size: 40px;
    }
    .hader{

        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh; 
        ;
         
        }
        nav{
            background-color: transparent;
        }

       
        /*space1 mobile*/
        .main{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: red;
            gap: 15%;
            
            
        }
        .main .Qabout{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 40%;
            height: 100%;
            text-align: center;
            gap: 20px;
            
        }
        .aboutImg{
            display: flex;
            width: 400px;
            height: 400px;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            background: url(/images/ye.svg);
           
        
        }
        .aboutImg3{
            width: 400px;
            height: 400px;
            background: url(/images/ye.svg);
            backdrop-filter: blur(10px);
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 25px;
        }
        .aboutImg3 img{
            border:1px solid rgba(0, 0, 0, 0.285);
            box-shadow: 0 0 4px black;
            margin-bottom: 30px;
        
        }
        
        .main h2{
            color: red;
            padding: 50px;
            min-width: 200%
        }
        
        .main p{
            color: black;
            font-size: 20px;
            line-height: 30px;
            width: 200%;
        }
        .buton{
            text-decoration: none;
            border: 1px solid red;
            padding: 15px 35px;
            margin-top:  45px;
            transition: 1s;
            text-transform: uppercase;
            border-radius: 5px;
            font-size: 20px;
            color: red;
            
        
        }
        .buton:hover{
            background-color: red;
           color: rgb(255, 255, 255);
            border: rgba(0, 0, 0, 0.15) 1px solid ;
            text-transform: uppercase;
            border-radius: 5px;
            border: #FF8000 1px solid;
        }
        /*space1 mobile end*/
        /*space2 mobile*/
        
       
        .space2{
            background-color: black;
            display: flex;
            flex-direction: column;
           align-items: center;
           min-height: 100vh;
           overflow: hidden;
           flex-grow: 1;
           flex-shrink: 1;
           justify-content: space-evenly;
           gap:70px ;
           padding: 0 20px;
           
        }
        .space2 p{
            color: aliceblue;
            font-size: 20px;
            text-align: center;
            justify-content: center;
            line-height: 35px;
           min-width: 80%;
           padding-bottom:50px ;
        }
        .space2 h1{
            font-size: 60px;
            color: whitesmoke;
            padding: 20px 20px;
        }
        .space2 .space2Content{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            align-items: center;
            padding-bottom: 20px;
            gap: 70px;
            
        }
        .space2Content img{
            border-radius: 58% 42% 48% 52% / 39% 36% 64% 61%  ;
        padding: 30px 30px;
        }
        /*space2 mobile end*/
        /*space3 resume mobile*/
        .space3{
            display: flex;
            flex-direction: column;
           background-color: white;
           align-items: center;
           justify-content: space-evenly;
           min-height: 100vh;
           overflow: hidden;
           flex-grow: 1;
           flex-shrink: 1;
           padding: 50px;
           
        } 
        .space3 h1{
            text-align: center;
            color: red;
            padding-bottom: 50px;
            font-size: 50px;
        
        }
        .space3 h2{
            text-align: center;
            color: black;
            font-size: xx-large;
            padding: 10px;
        }
        .space3 ul li strong{
            text-align: center;
            color: darkblue;
        }
        .space3 ul li{
            text-align: center;
            color: black;
            padding: 20px;
        
        }
        .space3 ul .none{
            display:none;
        }
    
        .space3 p{
            text-align: center;
            color: black;
        }
        /*space3 resume mobile*/
        /*contct section mobile*/
        .contacts{
            min-height: 65vh;
            display: flex;
            text-align: center;
            background-color: black;
            color: white;
            font-family: "Merienda", sans-serif;
            flex-direction: column;
            justify-content: space-evenly;
            
        }
        .contact-social{
            display: flex;
            flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 43.5px;
        padding-right: 15px;
        gap: 20px;
        
        }
        .contact-socialn {
            text-decoration: none;
            display: inline-flex;
            flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 20px;
        }
        .contact-socialn a{
            text-align: center;
            color: white;
            text-decoration: none;
            justify-content: center;
            font-size: 30px;
            padding: 9px;
            
        }
        
        #contact {
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            padding: 50px;
          }
          
          #contact h2 {
            font-size: 24px;
            margin-bottom: 20px;
          }
          
          #contact form {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          
          #contact input[type="text"],
          #contact input[type="email"],
          #contact textarea {
            width: 300px;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
          }
          
          #contact textarea {
            height: 150px;
          }
          
          #contact button[type="submit"] {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
          
          #contact button[type="submit"]:hover {
            background-color: #45a049;
          }
          .allc{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 70px;
          }
         
          
        /*footer*/
        footer{
            background-color: black;
            color: white;
            text-align: center;
            padding: 7px;
            font-size: 18px;
            border-top: 1px solid rgba(255, 255, 255, 0.234);
        
        }
        
        
        /*contct section mobile end*/
       
        
      
    }